%p#notice= notice

%article
  %h1.title= @post.title

  %time{datetime: @post.date.to_s, pubdate: true}= @post.date.to_s(:short)

  .body= simple_format(@post.body)
  .small.button
    = link_to 'Edit', edit_post_path(@post) 

  \|
  .small.button
    = link_to 'Back', posts_path
